<!-- begin c-hero -->
<style>
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.35s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.overlay {
  position: absolute;
  margin: auto;
  top: 70%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 15%;
  width: 75%;
  opacity: 0;
  transition: .35s ease;
  background-color: #00A6B4;
  border-radius: 15px;
  
}

.overlay:hover{
  background-color: #FFD500;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  font-family: "Nunito";
  font-size: 28px;
  color: white;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #FFD500;
  text-decoration-thickness: 0.3rem;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.35s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

</style>


<div class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-6 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title">{{ site.data.settings.author.say-hello }}</h1>
          <p class="hero__subtitle">{{ site.data.settings.author.bio }}</p>
          <div class="hero__social">
            <span class="hero__social-title">Follow Me |</span>
            {% include contact-link.html %}
          </div>
        </div>
      </div>
      <div class="col col-6 col-t-12">
          <div class="hero__image">
          <h1 style="text-align: center;";>Featured Work</h1>
          <!-- Slideshow container -->
            <div class="slideshow-container">

              <!-- Full-width images with number and caption text -->
              <div class="mySlides">
                <img src="../images/programs flat.jpg" style="width:100%; border-radius: 15px;">
                <a href="/eventcalendar"><div class="overlay">
                  <div class="text">Event Calendars</div>
                </div></a>
               
              </div>

              <div class="mySlides">
                <img src="../images/figma square.png" style="width:100%;border-radius: 15px;">
                <a href="/promotionalflyers"><div class="overlay">
                  <div class="text">Promotional Flyers</div>
                </div></a>
              </div>

              <div class="mySlides">
                <img src="../images/tiger sphere cover.jpg" style="width:100%;border-radius: 15px;">
                <a href="/plush"><div class="overlay">
                  <div class="text">Handmade Plush</div>
                </div></a>
              </div>

              <div class="mySlides">
                <img src="../images/clownshirt.png" style="width:100%;border-radius: 15px;">
                <a href="/handprintedgoods"><div class="overlay">
                  <div class="text">Hand Printed Goods</div>
                </div></a>
              </div>

              <!-- Next and previous buttons -->
              <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
              <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            
            <br>
          <!-- The dots/circles -->
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span>
              <span class="dot" onclick="currentSlide(2)"></span>
              <span class="dot" onclick="currentSlide(3)"></span>
              <span class="dot" onclick="currentSlide(4)"></span>
            </div>
            <div style="text-align:center;">
              <a class="button" href="/works" >Full Portfolio</a>
            </div>
          </div>
        
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<script>
  let slideIndex = 1;
  showSlides(slideIndex);
  
  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
  }
  
  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
  }
  
  function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " active";
  }
  </script>